<div class="input-group">

    <span class="input-group-addon">
        <i class="fa fa-envelope"></i>
    </span>

    <input
            type="email"
            class="form-control"
            name="{{ field_type.input_name }}"
            value="{{ field_type.value }}"
            placeholder="{{ trans(field_type.placeholder) ?: 'example@domain.com' }}"
            >

</div>